*.class
*.log
*.swp
*.tsv
*.txt

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
public/

# eclipse
.cache
.classpath
.project
.settings/
/bin/

# intellij
.idea

# OS X
.DS_Store

# deploy stuff
/conf/deploy.conf
/scripts/run_on_instance.sh
/scripts/set_up_instance.sh
/src/main/resources/prod.conf
/src/main/resources/test.conf
/src/main/etc/default/ike.prod
/src/main/etc/default/ike.test
