
header {
  padding: 0 0 16px 0;

  .btn-group {
    margin-top: 12px;
  }

  .auth {
    padding: 15px 0 0;

    a.btn {
      font-size: .9em;
    }

    img {
      border-radius: 50%;
      height: 24px;
      margin-right: 10px;
      width: 24px;
    }
  }
}
